body{
  // background-image: url("../images/rural-landscape.jpeg");
  // background-image: url("../images/blank.jpg");
}
.container{
  background-color: #3a3;
  border: 2px solid green;
  background-color: red;
}
